# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# runtime/generated
run
run-data
logs
mcmodsrepo
nstut_script_output

# Files from Forge MDK
forge*changelog.txt
